aiofiles==0.6.0
aiohttp==3.8.1
aiosignal==1.2.0
aiosqlite==0.17.0
async-generator==1.10
async-timeout==4.0.2
asyncio-dgram==2.1.0
asyncio-extras==1.3.2
asyncpraw==7.5.0
asyncprawcore==2.3.0
attrs==21.2.0
cachetools==4.2.4
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
dnspython==2.1.0
frozenlist==1.2.0
google-api-core==2.3.2
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
googletrans==3.1.0a0
gTTS==2.2.3
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httplib2==0.20.2
httpx==0.13.3
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
mcstatus==6.5.0
MinePI==0.3.0
motor==3.0.0
multidict==5.2.0
nextcord==2.0.0
Pillow==8.4.0
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==4.1.1
pyparsing==3.0.6
pyreadline3==3.4.1
python-dotenv==0.19.2
requests==2.26.0
rfc3986==1.5.0
rsa==4.8
six==1.16.0
sniffio==1.2.0
typing_extensions==4.0.1
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.7
yarl==1.7.2
